.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.favorite-name {
  text-align: left;
  padding-left: 350px;
  font-size: 40px;
}

.restaurant {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
  position: relative; /* 체크 박스 위치 설정을 위해 추가 */
}

.list-group-item {
  border: none;
}

.restaurant-name {
  flex: 0 0 40%;
  font-size: 24px;
  padding: 40px 0;
  padding-right: 10px;
  border-right: 1px solid black;
  text-align: center;
}

.restaurant-checkbox {
  position: absolute; /* 체크 박스를 절대 위치로 설정 */
  top: 10px; /* 상단에서 10px 떨어진 위치에 위치 */
  left: 10px; /* 좌측에서 10px 떨어진 위치에 위치 */
}

.restaurant-details p {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.restaurant-details p:last-child {
  border-bottom: none;
}

.button-group {
  display: flex; /* 버튼들을 가로로 배열 */
  justify-content: center; /* 버튼들을 중앙에 위치 */
  align-items: center; /* 버튼들을 세로 중앙에 위치 */
  margin-top: 20px; /* 버튼 그룹의 상단 마진 설정 */
}

.go-to-feed-btn,
.delete-btn {
  margin: 0 10px; /* 양쪽에 10px의 마진을 설정하여 버튼들 사이에 간격을 줌 */
}

.btn.btn-primary.go-to-feed-btn {
  background: #87a86f;
  border-radius: 15px;
  padding: 7px 10px;
  margin-right: 15px;
  margin-left: 15px;
  transition: 0.1s;
  margin-bottom: 20px;
  font-size: 20px;
  color: #f7f7f0;
  z-index: 10;
  position: relative;
  border: none;
}

.btn.btn-primary.go-to-feed-btn:active {
  top: 4px;
}

.btn.btn-danger.delete-btn {
  background: #87a86f;
  border-radius: 15px;
  padding: 7px 10px;
  margin-right: 15px;
  margin-left: 15px;
  transition: 0.1s;
  margin-bottom: 30px;
  font-size: 20px;
  color: #f7f7f0;
  z-index: 10;
  position: relative;
  border: none;
}

.btn.btn-danger.delete-btn {
  top: 4px;
  
  .list-group a {
  &:link {
    color: blue;
  }
  &:visited {
    color: green;
  }
  &:hover {
    color: red;
  }
  &:active {
    color: black;
  }
}
