/* @red: #EF6161;
@green: #7ac142; */
.sign-wrap {
  text-align: center;
}

.login-wrap {
    text-align: center;
}

.modal-input {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding-left: 0;
  width: 90%;
  box-shadow: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  outline: none;
  &:hover {
    color: black;
    background: #fff;
    border-bottom: 1px solid #ef6161;
    width: 90%;
  }
}

.col {
  display: inline-block;
  width: auto;
}

.col-auto {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  text-align: left;
  color: #7ac142;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.modal-dialog {
  position: relative;
  width: 100%;
  top: 0;
}

.modal-content {
  border-top: 5px solid #7ac142;
}

.signbutton {
  display: inline-block;
  border: 2px solid #7ac142;
  border-radius: 25px;
  padding: 3px 12px 5px 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #7ac142;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  &:hover {
    color: #7ac142;
    background: #fff;
    border: 2px solid #7ac142;
  }
  &:active {
    box-shadow: none;
  }
}

button:disabled {
  background-color: #ef6161; /* 비활성화된 상태의 배경색 */
  color: black; /* 비활성화된 상태의 텍스트 색상 */
  cursor: not-allowed; /* 마우스 커서를 변경하여 클릭을 방지합니다. */
}
