.item-checkbox {
  float: left;
  margin-right: 100px;
}
/* 
.site-btn {
  float: right;
} */

#the-menu {
  /* float: right; */
  /* margin-left: 20px; */
  /* border-radius: 5px; */
  border-radius: 3px;
  position: relative;
  left: 150px;
  font-size: 2rem;
  background-color: rgb(229, 233, 6);
  color: #471111;
  box-shadow: 0 0 5px rgb(11, 160, 31),
  0 0 25px rgb(0, 255, 21);
}





#prefer-delete {
color: #fff;
padding: 8px 22px;
border-radius: 6px;
background:  #4d2ae8;
/* transform: all 0.2s ease; */
position:absolute;
top: 110px;
right: 110px;
}

.non-clickable {
  pointer-events: none; /* 클릭 불가능하게 만듭니다 */
  font-weight: bold; /* 폰트를 진하게 만듭니다 */
  font-size: 30px;
}
/* 특정 ID를 가진 입력 요소의 테두리 색을 진하게 만들기 */
#survey-search-input {
  border: 2px solid #161616; /* 2px 두께의 빨간색 테두리 */
}

  








