.item-checkbox {
  float: left;
  margin-right: 100px;
}
/* 
.site-btn {
  float: right;
} */

#the-menu {
  /* float: right; */
  /* margin-left: 20px; */
  position: relative;
  left: 150px;
}

#prefer-delete {
  position: fixed;
  margin-top: 50px;
  bottom: 475px;
  right: 570px;
  z-index: 10;
  cursor: pointer;
}

.non-clickable {
  pointer-events: none; /* 클릭 불가능하게 만듭니다 */
  font-weight: bold; /* 폰트를 진하게 만듭니다 */
  font-size: 30px;
}