.item-checkbox {
  float: left;
  margin-right: 100px;
}


#the-menu {
  border-radius: 3px;
  position: relative;
  left: 150px;
  font-size: 1.5rem;
  background-color: #7fad39;
  margin-bottom: 40px;
}

#prefer-delete {
  color: #fff;
  padding: 8px 22px;
  border-radius: 6px;
  background: #4d2ae8;
  position: absolute;
  top: 175px;
  right: 120px;
  z-index: 10;
}

.non-clickable {
  pointer-events: none; /* 클릭 불가능하게 만듭니다 */
  font-weight: bold; /* 폰트를 진하게 만듭니다 */
  font-size: 30px;
  position: relative;
  right: 10px;
}
/* 특정 ID를 가진 입력 요소의 테두리 색을 진하게 만들기 */
#survey-search-input {
  border: 2px solid #161616; /* 2px 두께의 빨간색 테두리 */
}

.button_control {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: 1px solid green;
  text-align: center;
  line-height: 50px;
  background-color: black;
  border-radius: 10px;
  position: relative;
  right: 300px;
  margin-bottom: 40px;
}

.button_control2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: 1px solid green;
  text-align: center;
  line-height: 50px;
  background-color: black;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  left: 1020px;
}

.tooltip_layer {
  display: none;
  width: 650px;
  height: 300px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d776;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  right: 150px;
}
.tooltip_layer2 {
  display: none;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d776;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  right: 0px;
  margin-bottom: 20px;
  text-align: center;
}